/*NOTE: Общие стили*/
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #fff;

  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

/*NOTE: Меню (левая половина)*/
.site-navigation {
  width: 380px;
  height: 35px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;
  margin-left: 10px;
  /*Для разметки*/
  background: grey;
  border-radius: 25px;
}

.menu {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;

  text-decoration: underline;
}

.menu.current {
  border-radius: 25px;
  background-color: #d07058;

  text-decoration: none;
}

.menu:hover {
  border-radius: 25px;
  background-color: white;

  color: #323232;
  text-decoration: none;
}

/*NOTE: Подменю */
.submenu li a {
  color: black;
  font-weight: 400;
}

.submenu li:first-child a {
  font-weight: 700;
}

.submenu li:first-child {
  border-bottom: 1px solid lightgrey;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  margin-bottom: 3px;
  padding-bottom: 0;
}

.submenu {
  display: none;
  position: absolute;

  width: 140px;
  min-height: 170px;
  top: 45px;
  left: -5px;
  box-sizing: border-box;

  border-radius: 5px;
  background: white;

  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submenu li {
  height: 27px;
  margin-left: 0;
}

.submenu li:hover {
  background: #fbded8;
}

.submenu li:active {
  background: #f6b5a5;
}

.submenu li:nth-child(2) {
  background-color: #d07058;
}

.submenu a{
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*NOTE: Меню (правая половина)*/
.user-navigation,
.recycle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.phone-number p {
  font-size: 14px;
  line-height: 16px;
}

.phone-number a {
  font-size: 22px;
  line-height: 24px;
}

.phone-number {
  width: 100%;
  text-align: right;
  margin-top: -30px;
}

.find {
  margin-left: auto;
  padding: 10px;
  background-color: #afbfb6;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
}

.main-header a {
  color: #fff;
}

.loupe {
  width: 35px;
  height: 35px;
  background: url('../img/loupe.svg') no-repeat;
}

.user-navigation {
  width: 95px;
  height: 35px;
  border-radius: 25px;
  /* background-color: #afbfb6; */
  box-sizing: border-box;
  text-align: center;

}

.user-navigation {
  padding-left: 15px;
  margin: 0;
  padding-top: 10px;
  background: #afbfb6 url('../img/entrance.svg') 13px 9px no-repeat;
  margin-left: 15px;
}

.recycle {
  width: 120px;
  height: 35px;
  background: #afbfb6;
  border-radius: 25px;
  text-align: center;
  padding-top: 9px;
  box-sizing: border-box;
  padding-left: 15px;
  background: #fff url('../img/basket-red.svg') 13px 8px no-repeat;
  color: #323232;
  margin-left: 15px;

}

.main-header {
  padding-top: 15px;
}

.site-wrapper {
  /*min-width: 940px;*/
  /* width: 1200px; */
  background-color: #849d8f;
  /* background-image: url("../img/main-icecream-1.png"); */
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.crop {
  width: 1200px;
  margin: auto;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/main-icecream-2.png");
}

.site-wrapper::after {
  background-image: url("../img/main-icecream-3.png");
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/main-icecream-1.png");
}
#product-1:checked body {
  background-color: #849d8f;
}
#product-2:checked body {
  background-color: #8996a6;
}
#product-3:checked body {
  background-color: #9d8b84;
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/main-icecream-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/main-icecream-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.free h3 {
  font-size: 35px;
  line-height: 41px;
  margin-top: 20px;
  margin-bottom: 0;
}

.free p {
  font-size: 18px;
  line-height: 22px;
}

.free .button {
  font-size: 18px;
  line-height: 24px;
  float: right;
  width: 170px;
  height: 45px;
  border-radius: 25px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 25px;
}

.chocolate .button {
  width: 190px;
}

.free a {
  color: #fff;
}

.free .strawberry {
  width: 560px;
  min-height: 229px;
  border-radius: 10px;
  background: url("../img/strawberry.jpg") no-repeat;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.free .chocolate {
  width: 560px;
  min-height: 229px;
  border-radius: 10px;
  background: url("../img/chocolate.jpg") no-repeat;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.free ul{
  padding-left: 0;
}

.catalog-item p {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item p + p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  text-align: center;
}

.catalog-item:hover p + p {
  text-decoration: none;
}

.catalog-item span {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item img {
  border-radius: 50%;
}


.catalog-list .catalog-item {
  width: 270px;
  min-height: 300px;
}

.catalog-item {
  position: relative;
}

.hit p + p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url('../img/hit.svg') no-repeat;
}

.catalog-item p:first-of-type {
  position: absolute;
  top: 160px;
}


.catalog-list {
  padding-left: 0px;
}

.features h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-left: 55px;
  padding-top: 15px;
  width: 480px;
  min-height: 80px;
}

.features {
  width: 1160px;
  min-height: 300;
  background: white url("../img/waffle.jpg") repeat;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 40px;
  color: #323232;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0);
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
}

.features-list li:nth-child(1) {
  background: url("../img/ice-cream.svg") no-repeat;
  order: 1;
}

.features-list li:nth-child(2) {
  background: url("../img/eco.svg") no-repeat;
  order: 3;
}

.features-list li:nth-child(3) {
  background: url("../img/cow.svg") no-repeat;
  order: 2;
}

.features-list li:nth-child(4) {
  background: url("../img/thermometer.svg") no-repeat;
  order: 4;
}

.features-list {
  margin-left: 0;
  padding-left: 0;
}

.news h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.news a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  text-decoration: underline;
}

.news {
  width: 560px;
  min-height: 220px;
  background: white url("../img/blog.jpg") no-repeat;
  border-radius: 10px;
  color: #323232;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.dispatch p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 510px;
  min-height: 60px;
}

.dispatch button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
  width: 135px;
  height: 45px;
  border-radius: 25px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 0 0 0;
  /*При нажатии почему то синий аутлайн появляется,
  на других кнопках такого нет*/
}

.dispatch input[placeholder] {
  width: 365px;
  min-height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999;
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding-left: 10px;
  margin-left: 20px;
}

input[placeholder]:hover {
  border: 1px solid grey;
}

input[placeholder]:focus {
  border: 1px solid blue;
  color: #323232;
}

.dispatch {
  font-weight: 400;
  width: 560px;
  height: 220px;
  background: url("../img/bg-post.svg") no-repeat;
}

.two-columns{
  margin-bottom: 40px;
}

.dispatch .white-bg {
  width: 550px;
  min-height: 210px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0);
  margin: auto;
  margin-top: 4px;
}

.contacts .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contacts .bold,
.contacts .button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts a:not(.button) {
  color: #323232;
}

.contacts .button {
  width: 250px;
  height: 45px;
  border-radius: 25px;
  padding: 10px;
  padding-left: 25px;
  box-sizing: border-box;
}

.contacts .button a {
  color: #fefefe;
}

.yandex-map {
  width: 100%;
  height: 100%;
}

.contacts {
  width: 1200px;
  height: 480px;
  position: relative;
}

.address {
  width: 305px;
  min-height: 305px;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  right: 30px;
  top: 65px;
  padding: 20px;
  box-sizing: border-box;
}

.feedback-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;

}

.modal-feedback input[placeholder] {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.modal-feedback button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 140px;
  height: 45px;
  float: right;
  margin-right: 30px;
  background: linear-gradient(to top, #ee6140, #e74b35);
  border: 1px solid rgba(0,0,0,0);
  box-shadow: 0 4px 5px -1px grey;
  border-radius: 25px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 25px;
  color: white;
}

.modal-feedback input {
  width: 270px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding-left: 15px;
}

.modal-feedback textarea {
  width: 405px;
  height: 140px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding-left: 15px;
  padding-top: 15px;
}


.modal {
  display: none;
  width: 480px;
  min-height: 440px;
  background-color: #fff;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  margin-top: -220px;
  left: 50%;
  margin-left: -240px;
  padding-left: 25px;
  box-sizing: border-box;

  z-index: 2;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.modal-close {
  position: fixed;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  margin-left: 200px;
  margin-top: -192px;
  background: url('../img/cross-big.svg') no-repeat;
  cursor: pointer;
}

.main-footer {
  margin-bottom: 30px;
}

.footer-social {
  position: relative;
}

.footer-social a:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("../img/twitter.svg") no-repeat;
  left: -90px;
  border: 3px solid lightgrey;
  border-radius: 50%;
  top: 10px;
}

.footer-social a:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("../img/instagram.svg") no-repeat;
  left: -40px;
  border: 3px solid lightgrey;
  border-radius: 50%;
  top: 10px;
}

.footer-social a:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("../img/fb.svg") no-repeat;
  left: 10px;
  border: 3px solid lightgrey;
  border-radius: 50%;
  top: 10px;
}

.footer-social a:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("../img/vk.svg") no-repeat;
  left: 60px;
  border: 3px solid lightgrey;
  border-radius: 50%;
  top: 10px;
}

.main-footer .info {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  width: 310px;
  height: 40px;
}

.info-list {
  margin-left: 0;
  padding-left: 0;
}

.info-list li:nth-child(1) {
  order: 1;
  width: 140px;
  height: 20px;
  position: relative;
}

.info-list li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -20px;
  top: 2px;
  background: url('../img/heart.svg') 0 0 no-repeat;
}

.info-list li:nth-child(2) {
  order: 3;
  width: 140px;
  height: 20px;
}

.info-list li:nth-child(3) {
  order: 2;
  width: 140px;
  height: 20px;
}

.info-list li:nth-child(4) {
  order: 4;
  width: 170px;
  height: 20px;
}

.info-list a {
  color: #fff;
  text-decoration: underline;
}

.main-footer .info-list li:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}

.main-footer .author {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  width: 200px;
  height: 70px;
}
.main-footer .author p {
  margin-top: 0;
  color: #fff;
}

.item-1 span {
  padding-left: 15px;
}

.item-1,
.item-2 {
  margin-top: 0;
}

.filter select {
  width: 200px;
  height: 30px;
  border: 0 solid black;
  border-radius: 25px;
  background: #a7b9af;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-right: 20px;
  color: white;
}

.item-3,
.item-4 {
  border: 0px solid black;
}

.item-3 .fat {
  width: 420px;
  border-radius: 25px;
  background: #a7b9af;
  padding: 7px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-4 .fillers {
  width: 710px;
  border-radius: 25px;
  background: #a7b9af;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter-item button {
  background: #a7b9af;
  width: 150px;
  height: 37px;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 7px;
  color: white;
  font-weight: 500;
}

.filter-item button:hover {
  color: black;
  background-color: white;
}

.radio-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 4px solid white;
}

.item-3 label {
  position: relative;
}

.fat span {
  position: absolute;
  left: -27px;
  top: -3px;
}

.fat input:checked + .radio-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 4px solid white;
  background: white;
  box-shadow: inset 0 0 0 4px #a7b9af;
}

.item-4 label {
  position: relative;
}

.item-4 {
  padding-left: 0;
}

.item-4 legend {
  padding-left: 15px;
}

.fillers span {
  width: 27px;
  height: 23px;
  position: absolute;
  background: url('../img/checkbox-off.svg') no-repeat;
  left: -25px;
  top: -3px;
}

.fillers input:checked + .checkbox-indicator {
  width: 27px;
  height: 23px;
  position: absolute;
  background: url('../img/checkbox-on.svg') no-repeat;
  left: -25px;
  top: -3px;
}

.pagination-list li {
  width: 30px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  padding-top: 7px;
  box-sizing: border-box;
}

.pagination-list a {
  color: white;
}

.pagination-list {
  padding-left: 0;
  box-sizing: border-box;
  margin-right: 30px;
}

.pagination-current {
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
}

.pagination-current a {
  color: #323232;
}

.pagination-list {
  position: relative;
}

.pagination-list li:first-of-type {
  position: absolute;
  left: 1000px;
  top: 9px;
  width: 12px;
  height: 12px;
  background: url('../img/icon-right-small-left.svg') no-repeat;
}

.pagination-list li:last-of-type {
  position: absolute;
  left: 1170px;
  top: 9px;
  width: 12px;
  height: 12px;
  background: url('../img/icon-right-small.svg') no-repeat;
}

.breadcrumbs {
  width: 235px;
  padding-left: 0;
}

.breadcrumbs a{
  color: white;
  text-decoration: underline;
}

.breadcrumbs a:hover{
  text-decoration: none;
}

.breadcrumbs li:nth-child(1)::after {
  content: " »";
}

.breadcrumbs li:nth-child(2)::after {
  content: " »";
}



/*Флексомания*/

/*header на флексах*/
/*ВЕРНУТЬ ПОДМЕНЮ!*/

.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


/*main на флексах*/

.free ul {
  display: flex;
  justify-content: space-around;
}

.catalog-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.two-columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*footer на флексах*/

.main-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/*внутренняя страница на флексах*/

.breadcrumbs {
  display: flex;
  justify-content: space-between;
}

.filter form {
  display: flex;
  flex-wrap: wrap;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
}
