body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #fff;

  background-color: #849d8f;
  width: 1200px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.user-navigation,
.recycle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.phone-number p {
  font-size: 14px;
  line-height: 16px;
}

.phone-number a {
  font-size: 22px;
  line-height: 24px;
}

.ice-cream li {
  font-size: 60px;
  line-height: 60.35px;
}

.ice-cream a {
  font-size: 32px;
  line-height: 44px;
}

.free h3 {
  font-size: 35px;
  line-height: 41px;
  padding-top: 15px;
  padding-left: 15px;
}

.free p {
  font-size: 18px;
  line-height: 22px;
  padding-left: 15px;
}

.free .button {
  font-size: 18px;
  line-height: 24px;
}

.free .strawberry {
  width: 560px;
  min-height: 229px;
  border-radius: 10px;
  background: url("../img/strawberry.jpg") no-repeat;
}

.free .chocolate {
  width: 560px;
  min-height: 229px;
  border-radius: 10px;
  background: url("../img/chocolate.jpg") no-repeat;
}

.catalog-item p {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item p + p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item span {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item img {
  border-radius: 50%;
}

.features h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  padding-top: 20px;
  padding-left: 15px;
}

.features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  padding-left: 15px;
}

.features {
  width: 1150px;
  min-height: 310;
  background: url("../img/waffle.jpg") repeat;
  border-radius: 15px;
}
.news h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  padding-top: 15px;
  padding-left: 15px;
}

.news p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  padding-left: 15px;
}

.news {
  width: 560px;
  min-height: 220px;
  background: url("../img/blog.jpg") no-repeat;
  border-radius: 10px;
}

.dispatch p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.dispatch button {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}
.dispatch input[placeholder] {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.dispatch {
  width: 560px;
  height: 220px;
  background: url("../img/bg-post.svg") no-repeat;
  /*padding-top: 0px;
  Не смог опустить белый фон ниже. Это вроде выпадание, надо указать рамку прозрачную?*/
}

.dispatch p {
  padding: 15px;
  margin-bottom: 50px;
}

.dispatch .white-bg{
  width: 540px;
  min-height: 200px;
  background-color: #fff;
  border-radius: 15px;
  margin: auto;
}

.contacts .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contacts .bold,
.contacts .button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts .button {
  color: #fefefe;
  background-color: #000;
}

.address {
  width: 305px;
  min-height: 305px;
  background-color: #fff;
  border-radius: 15px;
}
/*Тоже не получилось сдвинуть текст вниз*/

.feedback-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  background-color: #fff;
}

.modal-feedback input[placeholder] {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.modal-feedback input[submit] {
  font-size: 18px;
  line-height: 24px;
}

.modal {
  width: 480px;
  min-height: 440px;
  background-color: #fff;
  border-radius: 15px;
}

.main-footer .info {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.main-footer .info:first-child {
  font-size: 13px;
  line-height: 18px;
}

.main-footer .author {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/*Флексомания*/

/*header на флексах*/
/*ВЕРНУТЬ ПОДМЕНЮ!*/

.main-navigation {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.main-header-logo {
  order: 5;
}

.site-navigation {
  order: 4;
}

.find {
  order: 3;
}

.user-navigation {
  order: 2;
}

.recycle {
  order: 1;
}

.phone-number {
  order: 6;
}
