body {
  font-family: 'Roboto Bold', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;

  background-color: #849d8f;
}

.user-navigation,
.recycle {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.phone-number p {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.phone-number a {
  font-size: 22px;
  line-height: 24px;
  color: #fff;
}

.ice-cream li {
  font-size: 60px;
  line-height: 60.35px;
  color: #fff;
}
